// TODO: find out how to override default bootstrap vars
//      see: https://github.com/RailsApps/rails-composer/issues/146
// $navbar-default-color: $light-orange; // doesn't appear to be working
// $navbar-default-bg: red;

// @import "bootstrap";

.test {
    color: red;
    width: percentage(7/7); // Use this to ensure SASS compiled correctly
}

/* From http://julienmelissas.com/animated-x-icon-for-the-bootstrap-navbar-toggle */
.navbar-toggle.collapsed {
  .top-bar {
    transform: rotate(0);
  } 
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}

.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

/* Home */
.page-container {
  width: 75%;  
  height: 100%;
  margin: auto;
  // background-color: red;
}
.graphic-container {
  width: 100%;
  position: relative;
  text-align: center;
}
.img-dragon-left {
  position: absolute;
  top: 0;
  left: 0;
}
.img-china-dynasty {  
  margin-top: 15px;
}
.img-dragon-right {
  position: absolute;
  top: 0;
  right: 0;
}
