// TODO: find out how to override default bootstrap vars
//      see: https://github.com/RailsApps/rails-composer/issues/146
// $navbar-default-color: $light-orange; // doesn't appear to be working
// $navbar-default-bg: red;

// @import "bootstrap";

.test {
    color: red;
    width: percentage(7/7); // Use this to ensure SASS compiled correctly
}

.light-green {
  color: #00CC00;
}

// @media (max-width: 480px) {
//   .h-center-on-mobile {
//     display: inline-block;
//   }
// }

.no-margin {
  margin: 0;
}
.margin-auto {
  margin: auto;
}
.center-text {
  text-align: center;
}

html {
  font-size: 1.2em;
}

/* From http://julienmelissas.com/animated-x-icon-for-the-bootstrap-navbar-toggle */
.navbar-toggle.collapsed {
  .top-bar {
    transform: rotate(0);
  } 
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}

.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

/* "General" */
.home-menu-img-container {
  text-align: center;
  margin-bottom: 10px;
}
.home-menu-image {
  // width: 300px;
  // height: 200px;
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.dark-alert-white-text {
  color: white;
  background-color: black;
}

/* Graphic Page Header */
.page-container {
  width: 75%;  
  height: 100%;
  margin: auto;
  margin-bottom: 20px;
  // background-color: red;
}
.img-dragon-left {
  position: absolute;
  top: 0;
  left: 0;
}
.img-china-dynasty {  
  margin-top: 15px;
}
.img-dragon-right {
  position: absolute;
  top: 0;
  right: 0;
}
.graphic-container {
  width: 100%;
  position: relative;
  text-align: center;
}

/* NOTE: for testing bootstrap layouts */
.row > div {
  // background-color: grey;
  // border: 1px solid black;
}

/* Home */
// .bckgrd-dayton-best-chinese-food {
//   background-image: url("/images/site/dayton-best-chinese-food.jpg");
//   width: 100%;
//   height: 75%;
//   background-size: cover;
// }
.img-dayton-best-chinese-food {
  width: 100%;
}

/* Menu */
@media (max-width: 1315px) {
  .menu-wrapper {
    text-align: center;
  }
}

.menu-card-group {
  .card {
    max-height: 300px;
  }
}
.menu-item-outer-wrapper {
  position: relative;
  // width: 175px; /* was 220px h/w */
  // height: 175px;
  width: 220px;
  height: 220px;
  // padding: 5px;
  margin: 2px;
  border: 1px lavender solid;
  border-radius: 3px;
  display: inline-block;
  text-align: left;  
}
.menu-item-wrapper { 
  position: absolute;
  top: 50%;
  // left: 50%;
  transform: translate(0, -50%); 
  margin: 5px;
  // width: 220px;
  // height: 220px;
  // padding: 5px;
  // vertical-align: center;
  // transform: translate(-50%, -50%);
  // margin: 5px;
  // background-color: lightgrey;
  // border: 1px lavender solid;
  // border-radius: 3px;
  // display: inline-block;

}
.menu-item-title {
  font-size: 0.85em;
  color: steelblue;
  font-weight: bolder;
  line-height: 1;
}
.menu-title {
  display: table;
  margin: auto;
  margin-bottom: 10px;  
}
.menu-item-foreign-txt {
  font-size: 0.7em;
}
.menu-img {
  width: 80%;
  height: 80%;
  object-fit: cover;  
}
.menu-item-description {
  margin-top: 5px;
  font-size: 0.8em;
  line-height: 1;
}
.menu-item-price {

}

/* Menu - vertical TEST */
.menu-outer-wrapper-horiz {
  height: 180px;
  padding: 0;
}
.menu-text-wrapper-horiz {
  position: absolute;
  top: 35%;
  // bottom: 50%;
  // transform: translate(0, -50%);
}
.menu-item-title-horiz {
  font-size: 1.25em;
  color: steelblue;
  font-weight: bolder;
  line-height: 1;
}
.menu-img-horiz {
  // float: right;  
  // position: absolute;
  // top: 50%;
  // bottom: 50%;
  // transform: translate(0, -50%);  
  margin-top: 15px;
  display: block;
  float: right;
  // width: 95%;
  // height: 95%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}


/* Menu - Japanese */
