<ul class="nav navbar-nav navbar-right">
  <li>
    <a class="nav-link"
      ui-sref-active="active"
      ui-sref="app.home">
      Home
    </a>
  </li>

  <li>
    <a class="nav-link"
      ui-sref-active="active"
      ui-sref="app.about">
      About
    </a>
  </li>

  <li>
    <a class="nav-link"
      ui-sref-active="active"
      ui-sref="app.menu">
      Menu
    </a>
  </li>

  <li>
    <a class="nav-link"
      ui-sref-active="active"
      ui-sref="app.location">
      Location
    </a>
  </li>

  <li>
    <a class="nav-link"
      ui-sref-active="active"
      ui-sref="app.restaurant-services">
      Services
    </a>
  </li>

  <li>
    <a class="nav-link"
      ui-sref-active="active"
      ui-sref="app.photos">
      Photos
    </a>
  </li>

  <li>
    <a class="nav-link"
      ui-sref-active="active"
      ui-sref="app.contact">
      Contact
    </a>
  </li>

  <li>
    <a class="nav-link"
      ui-sref-active="active"
      ui-sref="app.newsletter">
      Newsletter
    </a>
  </li>
</ul>